.github/**
.venv/**
.vscode/**
.gitignore
.vscodeignore
src/**
tests/**
*.ts
*.md
requirements.txt
package-lock.json
node_modules/
dist/*.map
dist/*.d.ts
.DS_Store
*.swp
*.swo
*~
.pytest_cache/
__pycache__/
*.pyc
.env
